<h3>Make appointment</h3>
<p>Here you can make an appointment</p>

<form action="/visit" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Your name</label>
    <input name="username" type="email" class="form-control" placeholder="Enter your name">
  </div>

  <button type="submit" class="btn btn-primary">PUSH</button>
</form>