<h3>Make appointment</h3>
<p>Here you can make an appointment</p>

<form action="/visit" method="POST">
  <div class="form-group">
    <label>Your name</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name">
  </div>


<div class="form-group">
    <label>Your phone number</label>
    <input name="phone" type="text" class="form-control" placeholder="Enter your phone number">
  </div>

  <div class="form-group">
    <label>Day and time of your visit</label>
    <input name="time" type="text" class="form-control" placeholder="Please Enter day and time, when you would to visit us">
  </div>

<div class="form-group">
  <label>Please choose your barber:</label>
<select class="form-control">
  <option>Walter White</option>
  <option>Jessie Pinky</option>
  <option>Jhon Woo</option>
</select>
</div>

  <button type="submit" class="btn btn-primary">PUSH</button>
</form>